@import "tailwindcss";

@theme inline{
    --color-brand1: #3a4660;
        --color-brand2: #c9af98;
        --color-brand3: #ed8a63;
        --color-brand4: #845007;
        --color-brand5: #845007;
}

/* In your CSS file or globals.css */
.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  display: none !important;
}

.heading1{
  font-size: 1.75rem;
  @media (width >= 80rem /* 1280px */) {
        font-size: 2.25rem ;
    }
}
.subheading {
  font-size: 1.2rem;
    @media (width >= 80em /* 1280px */) {
        font-size: 1.5rem ;
    }
}

.base-text {
   font-size: 0.9rem;
  @media (width >= 80rem /* 1280px */) {
    font-size: 1.05rem;
  }
}

.small-text {
  font-size: 0.65rem;
    @media (width >= 80rem /* 1280px */) {
        font-size: 0.85rem 
    }
}


